body, html {
    height: 100%;
}

html *
{
   font-family: Arial !important;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/hero.png");

  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.bl-logo-basic-image {
    background-image: url("media/BL_LogoBasic.png");
}


.coaching-image {
  background-image: url("media/coaching.png");

  height: 50%;
  width: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.mailing-list-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/mailinglist.png");

  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.mailing-list-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.blank_row
{
    height: 10px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}

.coaching-text {
  text-align: right;
  position: absolute;

  transform: translate(-50%, -50%);
  color: black;
}
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.table {
  display: table;
  width: auto;
/*  border: 1px solid #666666;*/
}

.table-row {
  display: table-row;
  width: auto;
  clear: both;
}

.table-col {
  float: left;
  display: table-column;
  width: 200px;
/*  border: 1px solid #ccc;*/
}

.mailing-list-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.mailing-list-text button:hover {
  background-color: #555;
  color: white;
}