<mat-toolbar>
  <img src="assets/BL_LogoBasic.png" class="logo-toolbar" />
  <span>BetterLesson</span>
</mat-toolbar>  

<div class="container title-container">
  <div class="row left">
    <img src="assets/BL_LogoBasic.png" style="max-width: 64px;" />
  </div>
  <div class="row left white" style="font-size: xx-large;">
    BetterLesson
  </div>
  <div class="row left white" style="font-size: xx-large;">
    Professional Coaching
  </div>
  <div class="row left white" style="font-size: large;">
    PROFESSIONAL COACH SEMINARS & MENTORSHIP
  </div>
</div>

<!-- Coaching Experts Table -->
<mat-grid-list cols="2" rowHeight="400px" class="coaching-table-container">
  <mat-grid-tile class="coaching-info-container" colspan="1" rowspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="container">
      <div class="row coaching-table-title">
        Current Coaches
      </div>
      <div class="row">
        <app-table [items]="experts" class="coaching-table container"></app-table>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<!-- Contact Us Form -->
<form class="form">
  <mat-grid-list cols="2" class="form-region margin-10" rowHeight="400px">

    <mat-grid-tile colspan="1" rowspan="1">
      <div class="container">
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" [formControl]="nameFormControl" placeholder="Ex. Name">
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. name@example.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Industry</mat-label>
            <mat-select [formControl]="industryControl">
              <mat-option *ngFor="let industry of industries" [value]="industry">{{industry}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile rowspan="1" colspan="1">
      <div class="container">
        <div class="row form-description ">
          Join our mailing to recieve
          notifications about
          program availability and
          special discounts
        </div>
        <div class="row">
          <button mat-raised-button (click)="submit()" class="submit-button">Sign Up</button>
        </div>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</form>