:root {
  --font-family: 'Roboto Regular';
  --font-family-bold: 'Roboto Bold';
  --font-family-light: 'Roboto Light';

  // colors
  --color-light: #fff;
  --color-dark: #000;
  --color-link: #1565c0;
  --color-error: #c02015;
  --color-light-grey: #d3d3d3;
}
