{% extends "app/base.html" %}
{% load static %}

{% block content %}
    <img src="{% static 'media/BL_LogoBasic.png' %}">
    <div class="col-md-12">
          <div class="content-section">
                <h2>BetterLesson</h2>
                <h2>Professional Coaching</h2>
                <h3>PROFESSIONAL COACH SEMINARS & MENTORSHIP</h3>
          </div>
        <div>
            <a id="viewCoaches" class="btn btn-secondary btn-sm mt-1 mb-1" href="#">View Coaches</a>
            <a id="joinMailing" class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Join Mailing List</a>
        </div>
    </div>
{% endblock content %}