.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  width: 100%;
  height: 5vh;
}

.button {
  margin-top: 2%;
  color: white;
  background-color: royalblue;
  width: 70%;
  margin-left: 15%;
}

@media screen and (max-width: 700px) {
  .flexDiv {
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
  }
  .leftContent {
    width: 100%;
  }
  .rightContent {
    width: 100%;
  }
}
